In [2]:
import pymc as pm
import numpy as np
import pandas as pd
import pymc.sampling_jax
import xarray as xr
import plotly.express as px
import plotly.graph_objs as go
import plotly.figure_factory as ff

/root/.cache/pypoetry/virtualenvs/dev-sZr6PvLR-py3.10/lib/python3.10/site-packages/pymc/sampling_jax.py:36: UserWarning: This module is experimental.
  warnings.warn("This module is experimental.")

In [9]:
df = pd.read_csv("../Data/WaffleDivorce.csv", sep=";")
df.head()

,Location,Loc,Population,MedianAgeMarriage,Marriage,Marriage SE,Divorce,Divorce SE,WaffleHouses,South,Slaves1860,Population1860,PropSlaves1860
0,Alabama,AL,4.78,25.3,20.2,1.27,12.7,0.79,128,1,435080,964201,0.45
1,Alaska,AK,0.71,25.2,26.0,2.93,12.5,2.05,0,0,0,0,0.00
2,Arizona,AZ,6.33,25.8,20.3,0.98,10.8,0.74,18,0,0,0,0.00
3,Arkansas,AR,2.92,24.3,26.4,1.70,13.5,1.22,41,1,111115,435450,0.26
4,California,CA,37.25,26.8,19.1,0.39,8.0,0.24,0,0,0,379994,0.00

In [10]:
import sklearn.preprocessing

ModuleNotFoundError: No module named 'sklearn'